{
	"ecmaFeatures": {
		"arrowFunctions": true,
		"blockBindings": true,
		"classes": true,
		"destructuring": true	
	},
	"env": {
		"node": true
	},
	"extends": "eslint:recommended",
	"rules": {
		"no-unused-vars": 1
	}
}
